@charset "utf-8";

/**
 * 회원가입 페이지 전용 CSS
 */


/*===========================================================================================
    # 01. 본문
===========================================================================================*/
#container {
    background-color: var(--white);
}

#content:has(#loginForm) {
    width: 350px;
}


/*===========================================================================================
    # 02. 입력 필드
===========================================================================================*/
/* # 02-1. 전체 입력 도움글
 *------------------------------------------------------------------------------------------*/
.help {
    display: block;
    width: 100%;
    margin-bottom: var(--spacing-lg);
    color: var(--color-secondary);
    font-size: var(--text-sm);
}

/* # 02-2. 아이디 및 이메일의 필드 사이즈 조절
 *------------------------------------------------------------------------------------------*/
.has-addons > .input {
    width: 336px;
    margin-right: var(--spacing-xxxs);
}

.has-addons > .button {
    width: 78.7px;
    vertical-align: bottom;
}