<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout/fragments/head :: head"></head>
<body>
    <div id="page_container" class="col">
        <div id="container" class="col is-midst">
            <div id="container_heading" class="text-logo-lg is-text-centered">goffle</div>
            <main class="contents">
                <div class="content-heading">
                    <h1 class="content-heading-title">회원가입</h1>
                    <h5 class="content-heading-subtitle">회원가입에 필요한 정보를 입력해주세요.</h5>
                </div>
                <p class="help is-text-right"><i class="required">*</i> 표시된 항목은 필수 입력 사항입니다.</p>
                <form role="form" id="addForm" class="content-form">
                    <div class="field is-grouped">
                        <div class="field">
                            <label for="username" class="box label">이름 <i class="required">*</i></label>
                            <input type="text" name="name" id="username" class="box-padding-rounded input" autofocus>
                        </div>
                        <div class="field">
                            <label for="loginId" class="box label">아이디 <i class="required">*</i></label>
                            <div class="has-addons">
                                <input type="text" name="loginId" id="loginId" class="box-padding-rounded input">
                                <button type="button" id="existsIdBtn" class="box-padding-rounded btn is-primary">중복 확인</button>
                            </div>
                        </div>
                        <div class="field">
                            <label for="userEmail" class="box label">이메일 <i class="required">*</i></label>
                            <div class="has-addons">
                                <input type="text" name="email" id="userEmail" class="box-padding-rounded input">
                                <button type="button" id="existsEmailBtn" class="box-padding-rounded btn is-primary">중복 확인</button>
                            </div>
                        </div>
                        <div class="field">
                            <label for="userPassword" class="box label">비밀번호 <i class="required">*</i></label>
                            <input type="password" name="password" id="userPassword" class="box-padding-rounded input" autocomplete="off">
                        </div>
                        <div class="field">
                            <label for="confirmPassword" class="box label">비밀번호 확인 <i class="required">*</i></label>
                            <input type="password" name="passwordConfirm" id="confirmPassword" class="box-padding-rounded input" autocomplete="off">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="field">
                            <button type="button" id="addBtn" class="box-padding-rounded btn is-primary">가입하기</button>
                        </div>
                        <div class="field link is-text-centered">
                            이미 계정이 있으시다면? <a href="/" role="link" class="is-text-link">로그인</a>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
    <th:block th:replace="common/layout/fragments/script :: script"/>
</body>
</html>