<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout/fragments/head :: head"></head>
<link rel="stylesheet" href="/css/app/user/signup.css">
<body>
    <div id="page_container" class="column">
        <div id="container" class="column is-midst">
            <main id="content">
                <header class="content-heading-group">
                    <h1 role="heading">회원가입</h1>
                    <h5 role="doc-subtitle">GOFFLE의 회원이 되어보세요.</h5>
                </header>
                <span class="help is-text-align-right"><i class="required">*</i> 표시된 항목은 필수 입력 항목입니다.</span>
                <form role="form" id="addForm" class="content-form">
                    <div class="field is-grouped">
                        <div class="field">
                            <label for="name" class="box label">이름 <i class="required">*</i></label>
                            <input type="text" name="name" id="name" class="box-padding-rounded input" autofocus>
                        </div>
                        <div class="field">
                            <label for="id" class="box label">아이디 <i class="required">*</i></label>
                            <p class="help">아이디 입력 : 영문 + 숫자 (6~20자)</p>
                            <div class="has-addons">
                                <input type="text" name="loginId" id="id" class="box-padding-rounded input">
                                <button type="button" id="existsIdBtn" class="box-padding-rounded button is-primary">중복 확인</button>
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="box label">이메일 <i class="required">*</i></label>
                            <div class="has-addons">
                                <input type="text" name="email" id="email" class="box-padding-rounded input">
                                <button type="button" id="existsEmailBtn" class="box-padding-rounded button is-primary">중복 확인</button>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="box label">비밀번호 <i class="required">*</i></label>
                            <p class="help">비밀번호 입력 : 영문 + 숫자 + 특수문자 (8~16자)</p>
                            <input type="password" name="password" id="password" class="box-padding-rounded input" autocomplete="off">
                        </div>
                        <div class="field">
                            <label for="confirmPassword" class="box label">비밀번호 확인 <i class="required">*</i></label>
                            <input type="password" name="passwordConfirm" id="confirmPassword" class="box-padding-rounded input" autocomplete="off">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="field">
                            <button type="button" id="addBtn" class="box-padding-rounded button is-primary">가입하기</button>
                        </div>
                        <div class="field link is-text-align-center">
                            이미 계정이 있으시다면? <a href="/" role="link" class="is-text-link">로그인</a>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
    <th:block th:replace="common/layout/fragments/script :: script"/>
</body>
</html>