@charset "utf-8";

/**
 * 컴포넌트 스타일
 */


/*===========================================================================================
    # 01. 버튼
===========================================================================================*/
.button {
    width: 100%;
    height: var(--form-element-height);
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    color: inherit;
    font-family: var(--font-secondary);
}

/* # 01-1. 색상
 *------------------------------------------------------------------------------------------*/
.button.is-primary {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--white);
}

.button.is-secondary {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--white);
}

































































































































