@charset "utf-8";

/**
 * 폼과 폼 내부 요소 및 레이아웃 스타일링
 * 
 *  @author     박 수 빈
 *  @version    1.0
 */ 

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 폼 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.content-form { line-height: 1; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 폼 내부 레이아웃
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* # 폼 필드 레이아웃 ||======================================================== */
.field { margin-bottom: var(--spacing-md); }
.field:last-child { margin-bottom: 0; }

/* # 폼 필드 그룹화 ||======================================================== */
.field.is-grouped { margin: var(--spacing-lg) 0;}
.field.is-grouped:last-child { margin-bottom: 0;}

/* # 폼 필드 내부 요소 그룹화 ||======================================================== */
.has-addons { width: 100%; }
.has-addons > * { display: inline-block; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 폼 내부 요소
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* # 폼 라벨 ||======================================================== */
.label { display: inline-block; margin-bottom: var(--spacing-xxs); color: var(--color-secondary); }

/* # 필수 입력 항목 아이콘 ||============================================== */
.is-required { color: var(--color-danger); font-size: var(--icon-default-size); }

/* # 입력필드 ||======================================================== */
.input {
    width: 100%;
    height: var(--form-element-height);
    line-height: 1;
    padding: var(--spacing-xs);
    border-radius: var(--rounded-corner);
    border: 1px solid var(--color-border);
    background-color: var(--white);
    color: var(--color-text);
    font-family: var(--font-primary), sans-serif;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 폼 유효성
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.is-error { border-color: var(--color-danger); }
.is-succcess { border-color: var(--color-success); }
.feedback { margin-top: var(--spacing-xxxs); font-size: var(--text-sm); }