@charset "utf-8";

/**
 * 레이아웃과 컨텐츠 및 컴포넌트의 구성시 사용될 스타일 지정
 *
 * @author     박 수 빈
 * @version    1.0
 */ 

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # CSS 사용자 지정 속성
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
:root {
    /* --------------------------------------------------------
     *  || 타이포그래피
     -------------------------------------------------------- */
    --font-primary: 'Pretendard-Regular';
    --font-secondary: 'Pretendad-Medium';
    --font-heading: 'Pretendard-Bold';
    --font-panel-heading: 'Montserrat-Black';
    --font-text-logo: 'Fugaz-One';
    /* 단위별 사이즈 지정 */
    --text-default-size: 13px;
    --text-sm: 12px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
    --text-xxl: 28px;
    --text-xxxl: 32px;
    /* 컨텐츠 헤더 타이틀 크기 */
    --text-heading-title: 18px;

    /* --------------------------------------------------------
     *  || 아이콘
     -------------------------------------------------------- */
    /* 단위별 사이즈 지정 */
    --icon-default-size: 12px;
    --icon-sm: 10px;
    --icon-md: 14px;
    --icon-lg: 18px;
    --icon-xl: 22px;
    /* 입력필드 내부 아이콘 크기 */
    --position-top-inside-input: 16px;
    --position-right-inside-right: 12px;
    /* 버튼 내부 아이콘 크기 */
    --x-axis-inside-button: 16px;
    --y-axis-inside-button: 6px;

    /* --------------------------------------------------------
     *  || 색상
     -------------------------------------------------------- */
    /* 메인 색상 */
    --color-primary: #4F4CEA;
    --color-secondary: #474656;
    --color-light: #6A7385;
    --color-dark: #535B69;
    --color-border: #C9D1D9;
    /* 색조(Shades) */
    --black: #14161A;
    --gray-10: #2E2E31;
    --gray-7: #7B7A7D;
    --gray-6: #A5A5A6;
    --gray-3: #D1D0D2;
    --gray-2: #ECECEC;
    --gray-1: #F7F8F9;
    --white: #FFFFFF;
    /* 피드백 색상 */
    --color-success: #18B57A;
    --color-warning: #FCBF66;
    --color-danger: #E15F68;
    /* 타이포그래피 색상 */
    --color-text: #2E333D;
    --color-accent: #3693F7;

    /* --------------------------------------------------------
     *  || 간격
     -------------------------------------------------------- */
    /* 단위별 사이즈 지정 */
    --spacing-xxxs: 3px;
    --spacing-xxs: 6px;
    --spacing-xs: 9px;
    --spacing-sm: 14px;
    --spacing-md: 20px;
    --spacing-lg: 24px;
    --spacing-xl: 28px;
    --spacing-xxl: 34px;
    --spacing-xxx: 40px;
    /* 패널 여백 단위별 사이즈 지정 */    
    --panel-padding-lg: 30px;
    --panel-padding-xl: 36px;
    --panel-padding-xxl: 42px;

    /* --------------------------------------------------------
     *  || 기타
     -------------------------------------------------------- */
    --form-element-height: 43px;
    --rounded-corner: 2.6px;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 플렉스
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* # 수직 정렬 ||======================================================= */
.column { display: flex; flex-flow: column wrap; }
.column.is-top { align-items: flex-start; justify-content: center; }
.column.is-center { align-items: center; }
.column.is-bottom { align-items: flex-end; justify-content: center; }

/* # 수평 정렬 ||======================================================= */
.row { display: flex; flex-flow: row; }
.row.is-left { justify-content: flex-start; align-items: center; }
.row.is-center { justify-content: center; }
.row.is-right { justify-content: flex-end; align-items: center; }
.row.is-space-between { justify-content: space-between; align-items: center; }

/* # 중앙 정렬 ||======================================================= */
.column.is-midst, .row.is-midst { align-items: center; justify-content: center; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 디스플레이
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* # 박스 모델 ||======================================================== */
.box { display: block; position: relative; box-sizing: border-box; }

/* # 그림자 효과 ||======================================================= */
.has-shadow { box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; }