@charset "utf-8";

/**
 * 공통 웹 레이아웃
 *
 * @author     박 수 빈
 * @version    1.0
 */ 

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 전체 영역
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_container { position: absolute; width: 100%; height: 100%; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 본문 영역
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#container { flex: 1; background-color: gray; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 메인 컨텐츠
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#content { width: 68%; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 좌측 사이드 메뉴
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 푸터
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


