@charset "utf-8";

/**
 * HTML 속성 초기화
 *
 * @author     박 수 빈
 * @version    1.0
 */ 

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 글꼴
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
    font-family: 'Fugaz-One';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/fugazOne/FugazOne.woff2') format('woff2'),
         url('/fonts/fugazOne/FugazOne.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat-Black';
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
         url('/fonts/montserrat/Montserrat-Black.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Bold.woff2') format('woff2'),
         url('/fonts/pretendard/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Regular.woff2') format('woff2'),
         url('/fonts/pretendard/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard-Medium';
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Medium.woff2') format('woff2'),
         url('/fonts/pretendard/Pretendard-Medium.woff') format('woff');
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+   # 초기화 코드
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend,
input, textarea, select, button, code, label, em, span, strong { word-break: keep-all; }

a { cursor: pointer; text-decoration: none; }

a[role='link']:hover { text-decoration: underline; }

table { border-collapse: collapse; border-spacing: 0; }

img, fieldset { border: 0; }

legend { position: absolute; left: -9999px; overflow: hidden; font-size: 0; }

input, input[type='button'], input[type='submit'],
button, button[type='button'] { border: 0; background: none; }

button, button[type='button'],
input[type='button'], input[type='submit'] { text-align: center; text-decoration: none; cursor: pointer; }

input { border: 0; background: none; appearance: none; outline: none; -webkit-appearance: none; -moz-appearance: none; }

select { appearance: none; -o-appearance: none; }

select::-ms-expand { display: none; }