@charset "utf-8";

/**
 * 타이포그래피 스타일
 */


/*===========================================================================================
    # 01. 공통
===========================================================================================*/
* {
    color: var(--color-text);
    font-family: var(--font-primary), sans-serif;
    font-weight: 600;
    font-size: var(--text-default-size);
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}


/*===========================================================================================
    # 02. 정렬
===========================================================================================*/
.is-text-align-left {
    text-align: left;
}

.is-text-align-center{
    text-align: center;
}

.is-text-align-right {
    text-align: right;
}


/*===========================================================================================
    # 03. 색상
===========================================================================================*/
.is-text-primary {
    color: var(--color-primary);
}

.is-text-secondary {
    color: var(--color-secondary);
}

.is-text-link {
    color: var(--color-accent);
}

.is-text-success {
    color: var(--color-success);
}

.is-text-danger {
    color: var(--color-danger);
}


/*===========================================================================================
    # 04. 링크
===========================================================================================*/
.link {
    color: var(--gray-7);
    font-size: var(--text-default-size);
}

/* # 04-1. 링크 그룹
 *------------------------------------------------------------------------------------------*/
.is-grouped > a[role='link'] {
    margin: 0 var(--spacing-sm);
}

.is-grouped > a[role='link']:first-child {
    margin-left: 0;
}

.is-grouped > a[role='link']:last-child {
    margin-right: 0;
}


/*===========================================================================================
    # 05. 텍스트 로고
===========================================================================================*/
.is-text-logo {
    color: var(--color-primary);
    font-family: 'FugazOne', sans-serif;
    font-size: var(--text-lg);
}