@charset "utf-8";

/**
 * 사용자 정의 CSS 변수
 */


:root {
    /* # 01. 타이포그래피
     *------------------------------------------------------------------------------------------*/
    --font-primary: 'Pretendard-Regular';
    --font-secondary: 'Pretendard-Medium';
    --font-heading: 'Pretendard-Bold';

    /* set base values */
    --text-default-size: 13px;

    /* typs scale */
    --text-sm: 12px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
    --text-xxl: 28px;


    /* # 02. 아이콘
     *------------------------------------------------------------------------------------------*/
    /* set base value */
    --icon-default-size: 12px;

    /* type scale */
    --icon-sm: 10px;
    --icon-md: 16px;
    --icon-lg: 20px;
    --icon-xl: 24px;
    --icon-xxl: 28px;

    /* set position value inside component */
    --icon-pos-top-inside-input: 16px;
    --icon-pos-right-inside-input: 12px;
    --icon-x-axis-inside-button: 16px;
    --icon-y-axis-inside-button: 6px;


    /* # 03. 색상
     *------------------------------------------------------------------------------------------*/
    /* main colors */
    --color-primary: #4061FF;
    --color-secondary: #474656;
    --color-light: #6A7385;
    --color-dark: color-mod(var(--color-light) shade(15%));

    /* shades */
    --black: #14161A;
    --gray-10: #2E2E31;
    --gray-7: #7B7A7D;
    --gray-6: #A5A5A6;
    --gray-4: #BBBBBC;
    --gray-3: #D1D0D2;
    --gray-2: #ECECEC;
    --gray-1: #F7F8F9;
    --white: #FFFFFF;

    /* feedback */
    --color-success: #18B57A;
    --color-danger: #E15F68;
    --color-warning: #FCBF66;

    /* typography */
    --color-text: #2E333D;
    --color-accent: #459CFC;

    /* border */
    --color-border: #C9D1D9;


    /* # 04. 간격
     *------------------------------------------------------------------------------------------*/
     /* set unit value */
    --spacing-unit: 4px;

    /* type scale */
    --spacing-xxxs: calc(var(--spacing-unit) - 2px);
    --spacing-xxs: calc(2px + var(--spacing-unit));
    --spacing-xs: calc(6px + var(--spacing-unit));
    --spacing-sm: calc(10px + var(--spacing-unit));
    --spacing-md: calc(14px + var(--spacing-unit));
    --spacing-lg: calc(18px + var(--spacing-unit));
    --spacing-xl: calc(22px + var(--spacing-unit));
    --spacing-xxl: calc(26px + var(--spacing-unit));
    --spacing-xxxl: calc(30px + var(--spacing-unit));

    /* set panel component padding size */
    --panel-padding-md: calc(var(--spacing-xl) + var(--spacing-unit));
    --panel-padding-lg: calc(var( --spacing-xxl) + var(--spacing-unit));
    --panel-padding-xl: calc(var(--spacing-xxl) + var(--spacing-unit));
    --panel-padding-xxl: calc(var(--spacing-xxxl) + var(--spacing-unit));


    /* # 05. 기타
     *------------------------------------------------------------------------------------------*/
    --rounded-corner: 2.8px;
    --form-element-height: 44px;
}